@use "../../styles/global" as *;

.next-videos-item {
    display: flex;
    margin-bottom: 1.6rem;
    cursor: pointer;

    &__hero {
        width: 40%;
        aspect-ratio: 16 / 9;
        overflow: hidden;
        border-radius: .4rem;
        background-color: $mercury;
    }

    &__image {
        @include width-height(100%, 100%);
        border-radius: .4rem;
    }

    &__description {
        @include flex(space-between, column);
        width: 60%;
        margin-left: 1.6rem;
    }
}