@use "../../styles/global" as *;

.home__container {
    @include desktop {
        display: flex;
        padding: 0 9.6rem;
    }
}

.home__interaction {
    @include desktop {
        width: 70%;
    }
}

.home__next-videos {
    @include desktop {
        border-left: .1rem solid $mercury;
        width: 30%;
    }
}

.next-videos {
    padding: 0 1.6rem;

    @include tablet {
        padding: 0;
        padding-left: 2.4rem;
        width: 40%;
    }

    @include desktop {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &__title {
        margin-bottom: 1.6rem;
        color: $silver;

        @include tablet {
            margin-bottom: 2.4rem;
        }

        @include desktop {
            margin-top: 3.6rem;
        }
    }
}