@use "../../global.scss" as *;

.nextVideos {
    padding: 0 1.6rem;

    @include tablet {
        padding: 0;
        padding-left: 2.4rem;
        width: 40%;
    }

    @include desktop {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &__title {
        margin-bottom: 1.6rem;
        color: $silver;

        @include tablet {
            margin-bottom: 2.4rem;
        }

        @include desktop {
            margin-top: 3.6rem;
        }
    }
}