@use "../../App.scss" as *;

.header {
    padding: 1.6rem;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        padding: 1.6rem 2.4rem;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    &__logoContainer {
        width: 100%;
        text-align: center;

        @include tablet {
            @include width-height(12rem, 100%);
            align-self: center;
            text-align: left;
            flex-grow: 1
        }
    }

    &__logo {
        @include width-height(12rem, 2.5rem);
    }

    &__searchBar {
        box-sizing: border-box;
        position: relative;
        margin: 1.6rem 1.6rem 1.6rem 0;
        flex-grow: 1;

        @include tablet {
            flex-grow: 0;
            margin: 0;
        }
    }

    &__input {
        @include font-size-height-weight(1rem, 2rem, 400);
        @include width-height(100%, 3.6rem);
        border-radius: .4rem;
        padding: 1.2rem;
        padding-left: 4.2rem;
        border: 1px solid $mercury;
        background-color: $alabaster;

        &::placeholder {
            vertical-align: middle;
            @include font-size-height-weight(1rem, 2rem, 400);
            color: $brainflix-black;
        }

        &:focus::placeholder {
            color: transparent;
        }

        &:active {
            border: .1rem solid $brainflix-black;
        }

        @include tablet {
            @include width-height(24rem, 4rem);
        }
    }

    &__searchIcon {
        height: 100%;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: absolute;
        left: 1.2rem;
        padding: 0;
    }

    &__avatarContainer {
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 1.6rem 0;

        @include tablet {
            display: none;
        }
    }

    &__avatarImage {
        object-fit: cover;
        @include width-height(null, 100%);
        position: absolute;
        left: -.5rem;
    }

    &__avatarSecondContainer {
        display: none;
        @include width-height(4rem, 4rem);
        border-radius: 50%;
        overflow: hidden;
        position: relative;

        @include tablet {
            display: initial;

        }
    }

    &__button {
        @include font-size-height-weight(1rem, 2rem, 700);
        @include width-height(100%, 4rem);
        border-radius: .4rem;
        cursor: pointer;
        border: none;
        background-color: $brainflix-blue;
        color: $white;
        box-sizing: border-box;
        padding: 0 1.2rem;
        position: relative;

        @include tablet {
            @include width-height(15rem, 4rem);
            margin: 0 1.6rem;

        }
    }

    &__uploadContainer {
        display: inline-block;
        width: 2rem;
        height: 2rem;
        position: absolute;
        left: 1.2rem;
        top: 1rem;
    }

    &__upload {
        height: 2rem;
    }
}