@use "../../styles/global" as *;

.header {
    padding: 1.6rem;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        padding: 1.6rem 2.4rem;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }

    @include desktop {
        padding: 1.6rem 9.6rem;
    }

    &__logo {
        width: 100%;
        text-align: center;

        @include tablet {
            @include width-height(12rem, 100%);
            align-self: center;
            text-align: left;
            flex-grow: 1
        }

        &-image {
            @include width-height(12rem, 2.5rem);
        }
    }

    &__search {
        box-sizing: border-box;
        position: relative;
        margin: 1.6rem 1.6rem 1.6rem 0;
        flex-grow: 1;

        @include tablet {
            flex-grow: 0;
            margin: 0;
        }

        &-input {
            @include font-size-height-weight(1.3rem, 1.3rem, 400);
            @include width-height(100%, 3.6rem);
            border-radius: .4rem;
            padding: 1.2rem;
            padding-left: 4.2rem;
            border: 1px solid $mercury;
            background-color: $alabaster;

            @include tablet {
                @include font-size-height-weight(1.4rem, 1.4rem, 400);
            }

            &::placeholder {
                color: $brainflix-black;

                @include tablet {
                    @include font-size-height-weight(1.4rem, 1.4rem, 400);
                }
            }

            &:focus::placeholder {
                color: transparent;
            }

            &:focus {
                border: .2rem solid $brainflix-blue;
                outline: none;
            }

            @include tablet {
                @include width-height(24rem, 4rem);
            }
        }

        &-icon {
            height: 100%;
            cursor: pointer;
            background-color: transparent;
            border: none;
            position: absolute;
            left: 1.2rem;
            padding: 0;
        }
    }



    &__avatar {
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: 1.6rem 0;

        @include tablet {
            display: none;
        }

        &-extra {
            display: none;
            @include width-height(4rem, 4rem);
            border-radius: 50%;
            overflow: hidden;
            position: relative;

            @include tablet {
                display: initial;

            }
        }

        &-image {
            object-fit: cover;
            @include width-height(null, 100%);
            position: absolute;
            left: -.5rem;
        }
    }

    &__button {
        @extend .button;

        @include tablet {
            margin: 0 1.6rem;
        }

        &-submit {
            @extend .button-submit;

            &-icon {
                @extend .button-submit-icon;
            }
        }
    }
}