@use "../../App.scss" as *;

.media {
    padding: 2.4rem 1.6rem 0 1.6rem;

    @include tablet {
        padding: 3.6rem 2.4rem 0 2.4rem;
    }

    @include desktop {
        padding: 3.6rem 0 0 0;
    }

    &__title {
        padding-bottom: 1.6rem;
        border-bottom: .1rem solid $mercury;
        display: flex;

        @include tablet {
            padding: 0;
            border-bottom: none;
        }
    }

    &__upload {
        flex-direction: column;
        flex-grow: 1;

        @include tablet {
            @include flex(null, row);
            vertical-align: middle;
            align-items: center;
        }

        &-channel {
            margin-right: 2.4rem;
        }

        &-date {
            color: $silver;
            margin-top: 1.6rem;

            @include tablet {
                margin: 0;
            }
        }
    }

    &__interaction {
        flex-direction: column;
        flex-grow: 1;

        @include tablet {
            @include flex(flex-end, row);
            vertical-align: middle;
            align-items: center;
        }
    }

    &__container {
        display: flex;
        padding: 1.6rem 0;
        border-bottom: .1rem solid $mercury;

        @include tablet {
            padding: .8rem 0;
        }

        @include desktop {
            padding-right: 2.4rem;
        }
    }

    &__public {
        @include flex(null, row);

        &--margin {
            @include tablet {
                margin-right: 2.4rem;
            }
        }

        &-icon {
            margin-right: 1.2rem;

            @include tablet {
                margin-right: .8rem;
            }

            &--margin {
                margin-bottom: 1.6rem;

                @include tablet {
                    margin: 0;
                    margin-right: .8rem;
                }
            }
        }

        &-number {
            color: $silver;
        }
    }

    &__description {
        padding: 1.6rem 0;

        @include tablet {
            padding: 2.4rem 0;
        }

        @include desktop {
            padding-right: 2.4rem;
        }
    }
}