@use "../../global.scss" as *;

.comments {
    padding: 0 1.6rem;

    @include tablet {
        padding: 0 2.4rem;
    }

    @include desktop {
        padding: 0;
        margin-top: 2.4rem;
    }

    &__container {
        padding: 1.6rem 0;

        @include tablet {
            padding: 1.6rem 0 2.4rem 0;
        }
    }

    &__user {
        display: flex;
        border-bottom: .1rem solid $mercury;

        @include tablet {
            padding-bottom: 2.4rem;
        }

        @include desktop {
            padding-left: 1.6rem;
            padding-right: 2.4rem;
        }

        &-avatar {
            @include width-height(3.6rem, 3.6rem);
            margin-top: 1.6rem;
            margin-right: 1.6rem;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            background-color: $silver;

            @include tablet {
                @include width-height(4rem, 4rem);
                margin: 0;
                margin-right: 2.4rem;
                align-self: flex-end;
            }

            &-image {
                height: 100%;
                position: absolute;
                left: -.5rem;
            }
        }
    }

    &__user-post {
        flex-grow: 1;
    }

    &__form {
        @include flex(null, column);

        @include tablet {
            @include flex(null, row);
            flex-wrap: wrap;
        }

        &-label {
            color: $silver;

            @include tablet {
                width: 100%;
            }
        }

        &-input {
            @include font-size-height-weight(1rem, 2rem, 400);
            @include width-height(100%, 10rem);
            resize: none;
            border-radius: .4rem;
            padding: 1.2rem;
            box-sizing: border-box;
            border: .1rem solid $mercury;
            background-color: $alabaster;

            &:focus::placeholder {
                color: transparent;
            }

            &::placeholder {
                color: $brainflix-black;
            }

            &:focus {
                border: .2rem solid $brainflix-blue;
                outline: none;
            }

            @include tablet {
                @include width-height(24rem, 4rem);
                @include font-size-height-weight(1.4rem, 1.4rem, 400);
                overflow: hidden;
                flex-grow: 1;
                margin-right: 2.4rem;
            }

            &::placeholder {
                @include tablet {
                    font-size: 1.4rem;
                }
            }
        }

        &-button {
            @extend .button;
            margin: 1.6rem 0;

            @include tablet {
                margin: 0;
            }

            &-submit {
                @extend .button-submit;

                &-icon {
                    @extend .button-submit-icon;
                }
            }
        }
    }
}