@use "../../App.scss" as *;

.form-input-style {
    @include font-size-height-weight(1rem, 2rem, 400);
    width: 100%;
    border-radius: .4rem;
    padding: 1.2rem;
    box-sizing: border-box;
    border: .1rem solid $mercury;
    background-color: $alabaster;

    &:focus::placeholder {
        color: transparent;
    }

    &::placeholder {
        color: $brainflix-black;
    }

    &:active {
        border: .1rem solid $brainflix-black;
    }
}

.conversation {
    padding: 0 1.6rem;

    @include tablet {
        padding: 0 2.4rem;
    }

    @include desktop {
        padding-left: 16rem;
    }

    &__container {
        padding: 1.6rem 0;

        @include tablet {
            padding: 1.6rem 0 2.4rem 0;
        }

        // @include desktop {
        //     padding: 0 25.6rem;
        // }
    }

    &__post-comment {
        display: flex;
        border-bottom: .1rem solid $mercury;

        @include tablet {
            padding-bottom: 2.4rem;
        }
    }

    &__icon {
        object-fit: cover;
        height: 100%;
        position: absolute;
        left: -.5rem;

        @include tablet {}
    }

    &__form {
        @include flex(null, column);

        @include tablet {
            @include flex(null, row);
            flex-wrap: wrap;
        }

        .form__comment {
            color: $silver;

            @include tablet {
                width: 100%;
            }

            &-input {
                @extend .form-input-style;
                height: 10rem;
                resize: none;

                @include tablet {
                    height: 4rem;
                    font-size: 1.4rem;
                    line-height: 1.4rem;
                    overflow: hidden;
                    width: 24rem;
                    flex-grow: 1;
                    margin-right: 2.4rem;
                }

                &::placeholder {
                    @include tablet {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .form__button {
            @include font-size-height-weight(1rem, 2rem, 700);
            height: 4rem;
            width: 100%;
            border-radius: .4rem;
            cursor: pointer;
            border: none;
            background-color: $brainflix-blue;
            color: $white;
            box-sizing: border-box;
            padding: 0 1.2rem;
            margin: 1.6rem 0;
            position: relative;

            &:hover {
                background-color: $brainflix-dark-blue;
            }

            @include tablet {
                padding: 1.4rem 3.2rem;
                width: 15rem;
                align-self: flex-end;
                margin: 0;
                @include font-size-height-weight(1.2rem, 1.2rem, 700);
            }
        }

        .form__commentIconContainer {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            position: absolute;
            left: 1.2rem;
            top: 1rem;


        }

        .form__commentIcon {
            height: 2rem;
        }

    }

    &__left {
        @include width-height(3.6rem, 3.6rem);
        margin-top: 1.6rem;
        margin-right: 1.6rem;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        background-color: $silver;

        @include tablet {
            @include width-height(4rem, 4rem);
            margin: 0;
            margin-right: 2.4rem;
            align-self: flex-end;
        }

    }

    &__right {
        flex-grow: 1;
    }

    &__posted-container {
        display: flex;
        position: relative;
        border-bottom: .1rem solid $mercury;
        padding: 1.6rem 0;
    }

    &__posted-container-left {
        @include width-height(3.6rem, 3.6rem);
        margin-right: 1.6rem;
        border-radius: 50%;
        background-color: $mercury;

        @include tablet {
            @include width-height(4rem, 4rem);
            margin-right: 2.4rem;
        }
    }

    &__posted-avatar {
        @include width-height(3.6rem, 3.6rem);
        border-radius: 50%;

        @include tablet {
            @include width-height(4rem, 4rem);
        }

    }

    &__posted-container-right {
        @include flex(null, column);
        width: 100%;

        &-top {
            @include flex(space-between, row);
        }

        &-bottom {
            margin-top: .8rem;
        }
    }

    &__posted-text {
        @include desktop {
            font-size: 1.63rem;
        }
    }

    &__posted-name {
        font-weight: 700;
    }

    &__posted-date {
        color: $silver;
    }
}